.discovery-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    justify-content: center;
    margin: 50px auto;
    max-width: 600px;
}

.discovery-form > * {
    font-size: 1rem;
    margin: 16px;
}

.discovery-form > textarea {
    font: 300 1rem 'Roboto', sans-serif;
    height: 5rem;
    resize: vertical;
}

.discovery-form > *:not(.discovery-form-title) {
    padding: 20px;
    border: 1px solid #BDBDBD;
}

.discovery-form-title {
    margin: 16px auto;
}

.discovery-form-button {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #007AFF;
}